/*----------NAVBAR---------*/
.fs-4 {
  font-size: 50px;
  line-height: 22px;
}
body {
  color: #f35b5b;
}
.nav-header {
  color: #f8f9fa;
}
#navbar-perso {
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
