body {
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Spartan", sans-serif;
}

.container-fluid {
  max-width: 110%;
}

/*----------NAVBAR---------*/

.fs-4 {
  font-size: 50px;
  line-height: 22px;
}

.nav-header {
  color: #f8f9fa;
}

#navbar-perso {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------MEDIA--------------------------------------*/

@media only screen and (max-width: 325px) {
  #editorsPick-section .card-img-overlay p {
    display: none;
  }

  #about-section .text2 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 46px;

    color: #d4a373;
  }
}
